@import'variables';

.card{
    width:100%;
    min-height:600px;
    background-color: $light-blue;  
    color:$white;
    display: grid;
}

.title{
    font-family: Roboto;
   // color:$dark-text;
    font-weight: 500;
    font-size: 18px;
}

.cardContainer{
    margin-left: 40px;
    margin-right:40px;
    margin-top:30px;
    margin-bottom:30px;
    
}

.description{
    margin-top:10px;
    font-family: Roboto;
   // color:$light-text;
    font-weight: 300;
    font-size: 12px;
    max-width:500px;
    line-height: 1.5;
}

.button{
    margin-right:20px;
    float: right;
    background-color:$accent;
	//display:inline-block;
	cursor:pointer;
	color:$white;
	//font-family:Arial;
	//font-size:17px;
	padding:16px 31px;
    text-decoration:none;
    font-family: Roboto;
   // color:$dark-text;
    font-weight: 500;
}
.buttonContainer{
    float: right;;
}

.button:hover {
	
}

.image{
    height:420px;
    overflow: hidden;
 
}

.background{
    width:100%;
    
}

.image img{
    position: relative;
    top:-40%;
}


@media only screen and (max-width: 1170px) {
     .image img{
        
        top:0;
    }
    .description{
        max-width: none;
        margin-bottom: 20px;
    }

    .image{
        height: fit-content;
    }
}