<div class="card">
  <div class="image">
  <!--  <div class="background" style="background-image: {{product.photo}}"></div>-->
    <img src="{{product.photo}}" width="100%" >
  </div>
   <div class="cardContainer">
    <div style="float: left;">
    <div class="title" style="width:60%">
      {{product.name}}
    </div>
    <div class="description"> 

       {{product.longDesc}}
    </div>
  </div>
    <div class="buttonContainer">
      <a class="button" [ngClass]="{'disabled':!active}"(click)="addItem()">Add to cart</a>
    </div>
  </div>
  </div>