<div class="card">
    <img src="assets/indeks.jpg" width="100%" height="220px">
   <div class="cardContainer">
    <div style="float: left;">
    <div class="title" style="width:60%">
      Title
    </div>
    <div class="description"> 

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Aliquam finibus placerat ex, ut mattis metus tincidunt vitae. 
        Suspendisse a nisl tempus, gravida nibh eu, vulputate tellus. 
        Vivamus eget malesuada diam, at ultrices est.ulputate tellus. 
        Vivamus eget malesuada diam, at ultrices est.ulputate tellus. 
        Vivamus eget malesuada diam, at ultrices est.
    </div>
  </div>
    <div class="buttonContainer">
      <a  class="button"(click)="addItem()">Add to card</a>
    </div>
  </div>
  </div>