<div class="header topnav">
  <div class="logo" (click)="onLogo()">
    <h1>LOGO </h1>
  </div>

  <ul class="list">
    <li class="listItem" routerLink="/home" routerLinkActive="active"> Home </li>
    <li routerLink="/about" routerLinkActive="active"> About</li>
    <li routerLink="/contact" routerLinkActive="active"> Contact</li>

    <li class="search" (click)="searchProduct()">
      <i class="material-icons">
        search
      </i>
    </li>

    <li class="search" *ngIf="searchInput">
      <input 
      [formControl]="searchText" 
      type="text" 
      id="fname" 
      name="fname" 
      (keyup.enter)="onSearch()">
    </li>

  </ul>



</div>