@import'variables';

.cart{
    width:250px;
    min-height:300px;
    background-color: $light-blue;
    margin-top:20px;
    margin-right: 0px;
    float: left;
}


.container{
    margin-top:20px;
    margin-left:40px;
    margin-right: 30px;
    min-height:100%;    
    max-width: 100%;
}

.container a{
    margin-top:20px;
}

.cartContainer{
    padding-top:20px;
    margin-left:30px;
    margin-right: 30px;
    color:$white;
}

.cartSmall{
    font-size: 11px;
    padding-top:15px;
    padding-bottom:20px;
    font-weight: 300;
    font-family: Lato;
    line-height: 1.5;

}

.itemsArea{
    margin-top:15px;
    margin-bottom:20px;
    min-height: 95px;
    width:100%;
    border:dashed 1px white; 
    
}

.emptyC{
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.full{
     display:inline;
     text-align: left!important;
   
}

#emptyCart{
    font-weight: 200;
 
    
}

.cartContainer span{
    font-weight:400;
}

.content{
    margin-top:20px;
      float:right;
    min-height:100%;
    width: calc(100% - 300px);
}


.singleCard{
    float:left;
    width:fit-content;
}

.singleProduct{
    text-align: left;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:2px;
    margin-bottom: 2px;
    margin-left:12px;
    margin-right:12px;

    background-color: $dark-blue;
    max-width: 80%;
    padding-right: 10px;
    padding-left: 10px;

}

.price{
    color:$accent;
    
}

@media only screen and (max-width: 610px) {
    .cart{
        float:none;
        width:100%
    }

    .cartContainer{
        height:fit-content;
    }

    .singleProduct{
        max-width: 90%;
    }
}