<div class="card">
<div class="container">
    <span class="dot">
    <i class="material-icons icon" >
        perm_contact_calendar
        </i>
      </span>

      <div class="title">ABOUT</div>
      <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur, 7
          nisi vel scelerisque sagittis, sapien nisl finibus tortor, id dictum magna orci 
          eget diam. Nulla vulputate a libero varius pretium. Maecenas a lorem tincidunt, 
          rhoncus quam in, feugiat sapien. Aliquam velit sapien, porttitor dignissim magna in,
           tempor porttitor ligula. Duis in accumsan nibh. Donec pulvinar, felis eget maximus dictum, 
           sapien purus consequat orci, quis maximus lacus lacus quis nisi. Maecenas in nibh erat. 
           Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices  </div>
</div>
</div>